<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for (@user) do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :time_zone, priority: /US/ %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div> 