<% provide :title, @user.name %>
<div class="well center">
<h2><%= @user.name %>'s Habits(<%= @habits.count %>)</h2>
<%= link_to "Create new habit", new_habit_path, method: :get, class: "btn btn-primary new_habit_link" %>
</div>

 
 <table id="habits_table" class="table table-stroped table-hover">
 	<% if @started.any? %>
	 	<tr id="started_habits" class="success"><td class="span9"><h4>STARTED(<%= @started.count %>)</h4></td><td></td></tr>
	 	<% @started.each do |s| %>
	 		<tr>
	 			<td class="span6">
	 				<%= link_to  habit_path(s.id) do %>
	 					<%= content_tag(:span,truncate(s.statement,length:50),class: "statement") %>
		 				<small>(<%= s.day_streak %> day streak)</small>
		 				<p>
		 					<%= render 'habits/progress', :habit => s %>
		 				</p>
	  			<% end %>
	  		</td>	
	  		<td class="span3 actions">
	  			<%= render 'habits/action_links', :habit => s %>
	  		</td>
	 		</tr>
	 		<% end %>
	 	<% end %>
 	<% if @pending.any? %>
	 	<tr id="pending_habits" class="warning"><td class="span9"><h4>PENDING(<%= @pending.count %>)</h4></td><td></td></tr>
	 	<% @pending.each do |p| %>
	 		<tr>
	 			<td class="span6">
	 				<%= link_to content_tag(:span,truncate(p.statement,length: 50),class: "statement") ,habit_path(p.id) %>
	  		</td>	
	  		<td class="span3 actions">
	  			<%= render 'habits/action_links', :habit => p %>
	  		</td>
	 		</tr>
	 		<% end %>
	 	<% end %>
 	<% if @completed.any? %>
	 	<tr id="completed_habits" class="info"><td class="span9"><h4>COMPLETED(<%= @completed.count %>)</h4></td><td></td></tr>
	 	<% @completed.each do |c| %>
	 		<tr>
	 			<td class="span6">
	 				<%= link_to content_tag(:span,truncate(c.statement,length: 50),class: "statement"),habit_path(c.id) %>
	  		</td>	
	  		<td class="span3 actions">
	  			<%= render 'habits/action_links', :habit => c %>
	  		</td>
	 		</tr>
	 		<% end %>
	 	<% end %>
 </table>
<p><%= link_to "Create new habit", new_habit_path, class: "btn btn-primary" %></p>