<% provide :title, @user.name %>
<h2><%= @user.name %></h2>
<p><small><%= @user.email %></small></p>
<h3>Habits(<span id="habit-count"><%= @habits.count %></span>)</h3>
<ol>
  <%= render @habits %>
</ol>
<p><%= link_to "Create new habit", new_habit_path, class: "btn btn-primary" %></p>
