		<header data-role="header" data-theme="b">
				<%= link_to 'Back', @habit, "data-role"=>"button", "data-icon"=>"arrow-l"%>
			<h1 id="statement"><%= @habit.statement %></h1>
				<%= link_to 'Add', new_habit_reason_path(@habit), "data-role"=>"button", "data-icon"=>"plus" %>
		</header>

		<div data-role="content">
			<ul data-role="listview" data-split-icon="delete">
				<li data-role="list-divider" role="heading" data-theme="d">Reasons</li>
				<% @habit.reasons.each do |r| %>
				 	<li>
				 		<%= link_to content_tag(:p,r.message,class:"list_content"), edit_habit_reason_path(@habit,r) %>
				 			<%= link_to 'delete', [@habit, r], method: :delete, confirm: "Are you sure you want to delete this reason?" %>
				 	</li>
				<% end %>
			</ul>
		</div>
	</div>