<h1><%= link_to @habit.statement, habit_path(@habit) %></h1>
<p class="test">Progress for "<%= @habit.statement %>"</p>


<%= calendar @trackers do |tracker| %>

	<%= display_article(tracker)  do %>
		<%= render 'form', :tracker => tracker %>
	<% end %>
<% end %>