<li class="<%= habit.status %>-habit" id="habit-<%= habit.id %>">
	<span class=" status <%= habit.status %>"><%= habit.status %></span>
  <span><%= link_to truncate(habit.statement,length: 50), 
  	habit_path(habit.id) %></span>
  <small>(created <%= time_ago_in_words habit.created_at %> ago)</small>
  <%= render "habits/action_links", :habit => habit %>
</li>
<% unless habit.pending? %>
	<%= link_to habit_trackers_path(habit) do %>
		<progress class="up-to-date-<%= habit.up_to_date? %>" 
			value="<%= habit.day_streak %>" max="21" rel="popover" 
			data-original-title="<%= habit.statement %>" 
			data-content="<%= render 'habits/stats',:habit=>habit %>">
		</progress>
	<% end %>
<% end %>