<a href="<%= habit_path habit %>">
<meter class="up-to-date-<%= habit.up_to_date? %>" 
	value="<%= habit.pass_count %>" max="<%= habit.total_days %>"
				optimum="100", low="5" rel="popover" 
	data-original-title="<h4 class='meter_title <%= habit.up_to_date? %>'><%= up_to_date_state(habit) %></h4>" 
	data-content="<%= render 'habits/stats', :habit=>habit %>">
</meter>
</a>
