<%= content_for :info do %>
  <div class="span3 status_info <%= @habit.status %>">
    <%= render 'status_info' %>
  </div>
  <div class="well span9">
    <h1 id="statement">
      <span><%= @habit.statement %></span> 
      <small><%= link_to 'edit', edit_habit_path(@habit), remote: true,
       :'data-toggle'=>'modal' %></small>
     </h1>
      <p class="reward"><i class = "icon-star-empty"></i>Reward: 
        <span id="reward"><%= @habit.reward %></span>
      </p>
      <% unless @habit.pending? %>
        <%= render 'stats_table' %>
      <% end %>
  </div>

<% end %>
<%= content_for :left_sidebar do %>
  <ul class="nav nav-tabs nav-stacked" id="habits_menu">
    <% unless @habit.pending? %>
      <li class="active">
        <a class="local" href="#trackers">Progress</a>
      </li>
    <% end %>
    <li>
      <a class="local" href="#reasons">Reasons
        <span id="reasons_count" class="badge">
          <%= @reasons.count %>
        </span>
      </a>
    </li>
    <li>
      <a class="local" href="#steps">Steps
        <span id="steps_count" class="badge">
        <%= @steps.count %>
        </span>
      </a>
    </li>
    <li>
      <a class="local" href="#affirmations">Affirmations
        <span id="affirmations_count" class="badge">
          <%= @affirmations.count %>
        </span>
      </a>
    </li>
  </ul>

<% end %>



<div class="tab-content"> 
    <div class="tab-pane" id="reasons">
      <table id="reasons_table" class="table table-striped table-hover">
        <% unless @reasons.empty? %>
          <%= render @reasons %>
        <% else %>
          <p class="instructions">Instructions on how and why to input reasons</p>
        <% end %>
      </table>
      <%= render 'reasons/form' %>
    </div>
    
    <div class="tab-pane" id="steps">
      <table id="steps_table" class="table table-striped table-hover">
        <% unless @steps.empty? %>
          <%= render @steps %>
        <% else %>
          <p class="instructions">Instructions on how and why to input steps</p>
        <% end %>
      </table>
      <%= render 'steps/form' %>
    </div>

    <div class="tab-pane" id="affirmations">
      <table id="affirmations_table" class="table table-striped table-hover">
        <% unless @affirmations.empty? %>
          <%= render @affirmations %>
        <% else %>
          <p class="instructions">Instructions on how and why to input affirmations</p>
        <% end %>
      </table>      
      <%= render 'affirmations/form' %>
    </div>

    <div class="tab-pane active" id="trackers">
      <% unless @habit.pending? %>
        <%#= render 'stats_table' %>
        <%= render 'trackers/calendar' %>
      <% end %>
    </div>

</div>