<h1 id="statement"><span><%= @habit.statement %></span> <small><%= link_to 'edit', edit_habit_path(@habit), remote: true, :'data-toggle'=>'modal' %></small></h1>
<div id="status_related_info">
  <%= render 'status_info' %>
</div>

<div id="tracking"> 
       <%= link_to "Tracking", habit_trackers_path(@habit) %>
</div>

<div id="reasons_steps">

    <ul class="nav nav-tabs" id="reasons_steps_tabs">
        <li class="active"><a href="#reasons">Reasons(<span id="reasons_count"><%= @reasons.count %></span>)</a></li>
        <li><a href="#steps">Steps(<span id="steps_count"><%= @steps.count %></span>)</a></li>
        <li><a href="#affirmations">Affirmations(<span id="affirmations_count"><%= @affirmations.count %></span>)</a></li>
        <li><a href="#reward">Reward</a></li>
    </ul>

</div>

<div class="tab-content"> 
    <div class="tab-pane active" id="reasons">
      <ul id="list_reasons">
        <% unless @reasons.empty? %>
          <%= render @reasons %>
        <% else %>
          <p id="instructions">Instructions on how and why to input reasons</p>
        <% end %>
      </ul>
      <%= render 'reasons/form' %>
    </div>
    
    <div class="tab-pane" id="steps">
      <ul id="list_steps">
        <%= render @steps %>
      </ul>
      <%= render 'steps/form' %>
    </div>
    <div class="tab-pane" id="affirmations">
      <ul id="list_affirmations">
        <%= render @affirmations %>
      </ul>
      <%= render 'affirmations/form' %>
    </div>

    <div class="tab-pane" id="reward">
      <p>Reward view goes here</p>
    </div>    

    <div class="tab-pane" id="calendar">
      <p>Calendar view goes here</p>
    </div>
</div>