<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title( yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key,value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
                <p>Time is now: <%= Time.zone.now %></p>


      <div class="modal hide" id="myModal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3 id="action_name"></h3>
        </div>
        <div class="modal-body">
          <p>One fine body…</p>
        </div>
      </div>

      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    
  </body>
</html>
