<!DOCTYPE html>
<html>
<head>
  <title><%= full_title( yield(:title)) %></title>
	<meta name = 'viewport' content = 'width=device-width' initial-scale=1>
	<%= stylesheet_link_tag 'jquery.mobile-1.2.0/jquery.mobile-1.2.0' %> 
	<%= stylesheet_link_tag 'mobile' %> 
	<%= javascript_include_tag "application", "jquery.mobile-1.2.0/jquery.mobile-1.2.0" %>	
  <%= csrf_meta_tags %>
</head>
<body id="main mobile">
	<div data-role="page">
		<%= render 'layout/header' %>

		<%= yield %>
	</div>
	<%= yield :other_page %>
</body>
</html>